@font-face {
    font-family: 'Gotham';
    src: url('/fonts/kotmtext/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/kotmtext/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/kotmtext/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/kotmtext/Gotham-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Memphis';
    src: url('/fonts/kotmtext/MemphisLTStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}