$green: #85c259;
$lightgreen: #b8dc9f;
$palegreen: #f3f9ee;
$gray: #727272;
$lightgray: #adadad;
$verylightgray: #e2dede;
$teal: #06aea8;
$lightteal: #6ed0cd;
$paleteal: #f2fbfb;
$blue: #9fd3f2;
$lightblue: #c7e5f7;
$paleblue: #f5fbfe;
$orange: #fcb040;
$lightorange: #fdd190;
$paleorange: #fff7ec;
$purple: #6d5291;
$lightpurple: #aa9bbf;
$palepurple: #f0edf4;
$red: #d61c23;
$lightred: #e77b7f;
$palered: #fdf3f4;
$black: black;
$white: white;
$accent: #fff8dd;

$phone: 767px;

$gotham: 'Gotham', Arial, Helvetica, sans-serif;
$memphis: 'Memphis', Arial, Helvetica, sans-serif;