<div class="login">
    <form class="login-container">
        <h1>Please change your password</h1>
        <span class="error" ng-if="cpc.error">{{cpc.error}}</span>
        <div>
            <label for="inputOriginalPassword" class="sr-only">Original Password</label>
            <input type="password" id="inputOriginalPassword" ng-model="cpc.inputOriginalPassword" placeholder="Original Password" required ng-change="cpc.error=false" autofocus>
            <label for="inputPassword" class="sr-only">New Password</label>
            <input type="password" id="inputPassword" ng-model="cpc.inputPassword" placeholder="Password" required ng-change="cpc.error=false">
            <label for="inputConfirmPassword" class="sr-only">Confirm New Password</label>
            <input type="password" id="inputConfirmPassword" ng-model="cpc.inputConfirmPassword" placeholder="Confirm Password" required ng-change="cpc.error=false">
        </div>
        <button class="btn bg-orange" ng-click="cpc.changePassword()">Change My Password</button>
    </form>
</div>