# password protect development section of website
AuthName "Restricted Area"
AuthType Basic
AuthUserFile /home/kotm/web_res/.htpasswd
AuthGroupFile /dev/null
require valid-user

# disable directory browsing
Options All -Indexes

# block access to all files but the main index.php files
# i.e. funnel all traffic through the primary index files
<Files ~ "\.php$">
	Deny from all
</Files>
<Files ~ "index.php">
	Allow from all
</Files>