<form>
    <h2>KOTM Staff Change Password</h2>
    <div class="form-group login-group">
        <label for="inputCurrentPassword" class="sr-only">Current Password</label>
        <input type="password" id="inputCurrentPassword" class="form-control" ng-model="cpc.currentPassword" placeholder="Current Password" required>
        <label for="inputNewPassword" class="sr-only">New Password</label>
        <input type="password" id="inputNewPassword" class="form-control" ng-model="cpc.newPassword" placeholder="New Password" required>
        <label for="inputConfirmPassword" class="sr-only">Confirm New Password</label>
        <input type="password" id="inputConfirmPassword" class="form-control" ng-model="cpc.confirmPassword" placeholder="Confirm New Password" required>
    </div>
    <ul>
        <li>Must be at least 8 characters long.</li>
        <li>Must contain a lowercase letter.</li>
        <li>Must contain an uppercase letter.</li>
        <li>Must contain a number or special character.</li>
    </ul>
    <div class="row pl-3 pb-3">{{cpc.message}}</div>
    <button class="btn btn-lg btn-primary btn-block" ng-click="cpc.changePassword()">Change Password</button>
</form>